name: Test GCP Setup

on: workflow_dispatch

jobs:
  test-gcp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          
      - name: Test GCP Access
        run: |
          gcloud config get-value project
          gcloud iam service-accounts list